@media screen and (max-width: 799px) {
    #pagewrap
      display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 5fr 1fr 4fr 5fr 1fr 9fr 5fr 1fr;
          grid-template-areas:
          "head head head head head"
          "hero heroh2 heroh2 heroh2  hero"
          ". os os os ."
          "video video video video video"
          "guide guide guide guide guide"
        ". knap knap knap ."
          "produkt produkt produkt produkt produkt "
          ". sup sup sup ."
          "footer footer footer footer footer "
          ;
          }

}

@media screen and (max-width: 799px) {

  .tguide{
    font-size: 1vw;
    margin-left: 2em;
  text-align: center;
  }

  #overskrift h1{
    font-size: 1vw;

}
#knap {
    grid-area: knap;
    background-color: #247eb0;
    color: white;
    text-align: center;
    font-size: 0.5vw;
    box-shadow: 5px 5px 7px black;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 1em;

}

#guide{
  grid-area: guide;
  margin: 2em 3em 2em 3em;
  padding-bottom: 1em;
  font-size: 1.2em;
  border-color: black;
  border-style: hidden hidden solid hidden;

}
#produkt p{
    margin: 1.7em;
    font-size: 1.2em;
}

.tekst1{
  grid-area: tekst1;
margin-left: 2vw;

}

.tekst2{
grid-area: tekst2;
margin-left: 2vw;


}

.tekst3{
  grid-area: tekst3;
margin-left: 2vw;

}
}


@media screen and (min-width: 800px){
    #pagewrap
      display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 5fr 1fr 4fr 5fr 1fr 9fr 5fr 1fr;
          grid-template-areas:
          "head head head head head"
          "hero heroh2 heroh2 heroh2  hero"
          ". os os os ."
          "video video video video video"
          "video video video video video"
          "guide guide guide guide guide"
        ". knap knap knap ."
          "produkt produkt produkt produkt produkt "
          ". sup sup sup ."
          "footer footer footer footer footer "
          ;


          }


@media screen and (min-width: 800px){
/*
  .tguide{
    font-size: 2vw;
  }
*/

#knap {
    grid-area: knap;
    background-color: #247eb0;
    color: white;
    text-align: center;
    font-size: 4vw;
    box-shadow: 5px 5px 7px black;
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

}

  #guide{
    grid-area: guide;
    margin: -6em 3em 2em 3em;
    padding: 2em 0em;
    font-size: 1.2em;
    border-color: black;
    border-style: solid hidden solid hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". tekst1 tekst2 tekst3 ."
        ;

  }

  .tekst1{
    grid-area: tekst1;

  }

  .tekst2{
  grid-area: tekst2;
  margin-left: 2vw;
  margin-right: 2vw;

  }

  .tekst3{
    grid-area: tekst3;

  }
}






@media screen and (min-width: 992px){

    #pagewrap
      display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 5fr 1fr 4fr 5fr 1fr 9fr 5fr 1fr;
          grid-template-areas:
          "head head head head head"
          "hero heroh2 heroh2 heroh2  hero"
          ". os os os ."
          "video video video video video"
          "guide guide guide guide guide "
        ". knap knap knap ."
          "produkt produkt produkt produkt produkt "
          ". sup sup sup ."
          "footer footer footer footer footer "
          ;



}

@media screen and (min-width: 992px){
  .tguide{
    font-size: 1.5vw;
  }

  #overskrift h1{
    font-size: 3vw;
  }

  #knap {
      grid-area: knap;
      background-color: #247eb0;
      color: white;
      text-align: center;
      font-size: 4vw;
      box-shadow: 5px 5px 7px black;
      margin-left: 8em;
      margin-right: 8em;
      margin-bottom: 1em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;

  }

  #guide{
    grid-area: guide;
    margin: -6em 3em 2em 3em;
    padding: 2em 0em;
    font-size: 1.2em;
    border-color: black;
    border-style: solid hidden solid hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". tekst1 tekst2 tekst3 ."
        ;

  }

#produkt p {
    margin: 1em 13em 2em 13em;
    font-size: 1.5vw;
}

.tekst1{
  grid-area: tekst1;

}

.tekst2{
grid-area: tekst2;
margin-left: 2vw;
margin-right: 2vw;

}

.tekst3{
  grid-area: tekst3;

}
}









#logo {
    position: absolute;
    right: 42%;
    grid-area: logo;
    padding-top: 1em;
    background-color: #f8f9fa;
    max-width: 100px;
    margin-top: -0.5em;
}

.navbar-toggler {
    grid-area: navbar;
}

#menu {
    width: 100%;
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo navbar"
        ;
}

.navbar {
    margin-right: 5em;
}

html{
  text-size-adjust: 3vw;
}


html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Nunito";
  font-style: italic
  color: Black;
  background-image: url(baggrund.webp);
  max-width: 100%;
  max-height: 100%;
}

#pbillede{
  width: 80%;
  max-width: 400px;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sbillede{
  max-width: 80%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




footer a {
    color: black;
}

footer a:hover{
    color: black;
    font-style: italic;
}

.tekst{
  text-align: center;
}

.tguide{
  text-align: left;
}

.hero{
  padding: 15em;
  grid-area: hero;
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  color: white;
  background-image: url(sko2.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

}


.hero h2{
  font-family: "Roboto";
  grid-area: heroh2;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: white;
}

#sup h4{
  font-size: 2em;
  text-align: center;
}

header {
    align-content: center center;
    width: 100%;
  grid-area: head;
  text-align: center;
    position: fixed;
}

div header nav li{
  background-color:rgb(0,0,0) ;opacity: 0.5;
  grid-area: menu;
}

div header nav li a: hover{
  background-color:rgb(0,0,0) ;opacity: 0.5;
  text-decoration: underline;
}

#overskrift{
  margin-top: 2em;
  grid-area: os;
  text-align: center;
}

#overskrift h1{
  text-align: center;
  margin-bottom: auto;
}



#produkt h3 {
  margin: 0em 2em 1em 2em;
  text-align: center;
  font-size: 1.8em;
}

#overskrift p{
  margin-top: auto;
  font-size: 1.3em;
}








#knap a:visited{
  color: white;
}

#produkt{
  grid-area: produkt;
}


#sup{
  grid-area: sup;
  align-content: center center;
  margin 1em 0em;
}

#sbillede {
    width: 100%;
    max-width: 130px;
    height:auto;
    max-height: 110vh;
    margin-bottom: 3em;
    box-shadow: 3px 3px 5px black;
    margin-top: 1.5em;
}

 #video{
  grid-area: video;
  margin: 0em 0em -2em 0em;
  width: 100%;
  height:auto;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;

}

.responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75%;
}


.responsiv{
  width: 10%;
  max-width: 50px;
  height: auto;
}

footer {
  grid-area: footer;
    background-color: white;
    border-style: solid;
    color: Black;
    width: 100%;
    height: 100%;
    padding 0 10px;
    bottom: 0px;
    right 0px;
    left: 0px;
    padding-bottom: 3em;
}

footer li {





