


@media screen and (min-width: 0px){
    #pagewrap
      display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 5fr 1fr 4fr 5fr 1fr 9fr 5fr 1fr;
          grid-template-areas:
          "head head head head head"
          "hero heroh2 heroh2 heroh2  hero"
          ". os os os ."
          "video video video video video"
          "guide guide guide guide guide"
        ". knap knap knap ."
          "produkt produkt produkt produkt produkt "
          ". sup sup sup ."
          "footer footer footer footer footer "
          ;

}

#logo {
    position: absolute;
    right: 42%;
    grid-area: logo;
    padding-top: 1em;
    background-color: #f8f9fa;
    max-width: 100px;
    margin-top: -0.5em;
}

.navbar-toggler {
    grid-area: navbar;
}

#menu {
    width: 100%;
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "navbar logo"
        ;
}

.navbar {
    margin-right: 5em;
}

/*
@media screen and (min-width: 800px){
    #pagewrap
      display: grid;
          grid-template-columns:
          grid-template-rows:
          grid-template-areas:

}



@media screen and (min-width: 1000px){
    #pagewrap
      display: grid;
          grid-template-columns:
          grid-template-rows:
          grid-template-areas:

}
*/
html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Nunito";
  font-style: italic
  color: Black;
  background-image: url(baggrund.webp);
  max-width: 100%;
  max-height: 100%;
}

#pbillede{
  max-width: 80%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sbillede{
  max-width: 80%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




footer a {
    color: black;
}

footer a:hover{
    color: black;
    font-style: italic;
}

.tekst{
  text-align: center;
}
.tguide{
  text-align: left;
}
.hero{
  margin-top:
  grid-area: hero;
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  color: white;
  background-image: url(sko2.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

}
/*
#menu li {
    display: inline;
    padding: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    background-color: black;
    font-size: 3em;
}*/



.hero h2{
  font-family: "Roboto";
  grid-area: heroh2;
  font-size: 6em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: white;
}

#sup h4{
  font-size: 2em;
  text-align: center;
}

header {
    align-content: center center;
    width: 100%;
  grid-area: head;
  text-align: center;
    position: fixed;
}
/**
#globe {
    max-height: 10px;
    max-width: 10px;
    float: right;
}
**/


div header nav li{
  background-color:rgb(0,0,0) ;opacity: 0.5;
  grid-area: menu;
}

div header nav li a: hover{
  background-color:rgb(0,0,0) ;opacity: 0.5;
  text-decoration: underline;
}

#overskrift{
  margin-top: 2em;
  grid-area: os;
  text-align: center;
}

#overskrift h1{
  font-size: 2em;
  text-align: center;
  margin-bottom: auto;
}



#produkt h3 {
  margin: 0em 2em 1em 2em;
  text-align: center;
  font-size: 1.8em;
}

#overskrift p{
  margin-top: auto;
  font-size: 1.3em;
}

#guide{
  grid-area: guide;
  margin: 2em 3em 2em 3em;
  padding-bottom: 1em;
  font-size: 1.2em;
  border-color: black;
  border-style: hidden hidden solid hidden;

}


#knap {
    grid-area: knap;
    background-color: #247eb0;
    color: white;
    text-align: center;
    font-size: 2em;
    box-shadow: 5px 5px 7px black;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    border-style: 10px
}



#knap a:visited{
  color: white;
}

#produkt{
  grid-area: produkt;
}

#produkt p{
    margin: 1.7em;
    font-size: 1.2em;
}

#sup{
  grid-area: sup;
  align-content: center center;

}

#sbillede {
    max-height: 50vh;
    margin-bottom: 3em;
    box-shadow: 3px 3px 5px black;
}

 #video{
  grid-area: video;
  margin: 0em 0em 0em 0em;
}


.responsiv{
  max-width: 10%;
  height: auto;
}

footer {
  grid-area: footer;
    background-color: white;
    border-style: solid;
    color: Black;
    width: 100%;
    height: 100%;
    padding 0 10px;
    bottom: 0px;
    right 0px;
    left: 0px;
    padding-bottom: 3em;
}

footer li {
}
